<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219114654985-gkii4vqt437pchgalb828o8akkana7is.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219114654985-gkii4vqt437pchgalb828o8akkana7is</string>
	<key>API_KEY</key>
	<string>AIzaSyDX-PSalittabKJ9dnU37gEkBLDjv-jI6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>219114654985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mumag</string>
	<key>PROJECT_ID</key>
	<string>mu-mag</string>
	<key>STORAGE_BUCKET</key>
	<string>mu-mag.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219114654985:ios:230c51fd5f77cec3e857d8</string>
</dict>
</plist>